<div class="bg-gray-800 border border-gray-700 rounded-lg p-4 mt-4">
  <header class="flex mb-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="text-gray-100 me-2"
      viewBox="0 0 16 16">
      <path
        d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1z" />
    </svg>
    <h2 class="text-2xl text-gray-100 font-bold">Abilities</h2>
  </header>

  @if (heroAbilities && abilities) {
    @for (heroAbility of heroAbilities; track $index) {
      @if (heroAbility) {
        <div class="flex mb-4">
          <div class="me-3">
            @if (abilities[heroAbility].is_innate) {
              <img [src]="imgbaseUrl+'/apps/dota2/images/dota_react/icons/innate_icon.png'" alt="" srcset="" class="rounded-lg min-w-25">
            }@else {
              <img [src]="imgbaseUrl+abilities[heroAbility].img" alt="" srcset="" class="rounded-lg min-w-25">
            }
          </div>
          <div>
            <h3 class="text-xl text-gray-100 font-semibold">{{abilities[heroAbility].dname}}</h3>
            <p class="text-gray-100">{{abilities[heroAbility].desc}}</p>
          </div>
        </div>
      }
    }
  }
</div>
